body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html {
    height: 100%
}

.navbar_logo img{
    width: 50px;
    display: block;
    margin: auto;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.5);
    z-index: 8;
    opacity: 0;
}